@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("pmsss.woff");
}
@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-weight: bold;
    src: url("pmsssb.woff");
}

body {
    --font-family: "MS Sans Serif", Tahoma, Geneva, sans-serif;
    --font-size: 11px;
    background: black;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

:root {
    scrollbar-width: none;
}

:root::-webkit-scrollbar {
    appearance: none;
    width: 0;
    height: 0;
}

body.pixel-text {
    --font-family: "Pixelated MS Sans Serif", "MS Sans Serif", Tahoma, Geneva, sans-serif;
}

body, button, input, textarea {
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: 14px;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
}

a {
    color: #99f;
}
a:visited {
    color: #f9f;
}

#tabs {
    padding-block: calc(calc(100vh - 491px) / 2);
    min-height: calc(100% - calc(100vh - 491px));
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#tabs > button {
    width: 100%;
    height: 26px;
    padding: 6px 20% 7px 20%;
    position: relative;
    text-align: left;
    background: linear-gradient(#ddd, #bbb);
    color: black;
    border: none;
    border-block: 1px solid #777;
    margin-top: -1px;
    font-weight: bold;
    z-index: 1;
}
#tabs > button::before {
    content: "";
    position: absolute;
    top: 8px;
    left: calc(20% - 16px);
    display: inline-block;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    width: 6px;
    height: 6px;
    transform: translateY(0) rotate(-45deg);
    transition: transform .1s, top .1s;
}

#tabs > button.active::before {
    top: 6px;
    transform: translateY(0) rotate(45deg);
}


#container {
    background: #222;
    border-block: 1px solid #999;
    margin-top: -1px;
    width: 100%;
    height: 490px;
    scrollbar-width: none;
}

#container::-webkit-scrollbar {
    appearance: none;
    width: 0;
    height: 0;
}

#container:empty {
    display: none;
}

.button-row-group {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    flex-shrink: 0;
    flex-flow: row;
    justify-content: safe center;
}

.button-row {
    background: #444;
    border-right: 1px solid #999;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 150px;
    height: calc(100% - 5px);
    padding-inline: 5px;
    flex-shrink: 0;
    gap: 5px;
    overflow: hidden;
    scrollbar-width: none;
    padding-bottom: 5px;
}

.button-row::-webkit-scrollbar {
    appearance: none;
    width: 0;
    height: 0;
}

.button-row:first-of-type {
    border-left: 1px solid #999;
    position: sticky;
    left: 0px;
    z-index: 11;
}

.button-row .info {
    position: sticky;
    top: -1px;
    z-index: 10;
    width: calc(100% + 10px);
    height: 28px;
    padding-block: 7px 6px;
    margin: -1px -6px 3px -6px;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(#bbb, #999);
    color: black;
    border: 1px solid #777;
}

.button-row .info .amount {
    font-weight: bold;
}

.filler {
    flex-grow: 1;
}

.bottom-buttons {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: end;
    gap: 5px;
    width: 100%;
}

.pushy-button {
    --background: inherit;
    background: linear-gradient(#fff0, #fff1), linear-gradient(var(--background, #999), var(--background, #999));
    position: relative;
    color: black;
    border: 1px solid #fff5;
    border-radius: 5px;
    box-shadow: 0 3px #0003, 0 3px var(--background, #999);
    transform: translateY(-3px);
    transition: box-shadow, transform, filter;
    transition-duration: .1s;
}

.pushy-button:active, .pushy-button:disabled {
    box-shadow: 0 0 #0003, 0 0 var(--background, #999);
    transform: translateY(0px);
    transition-duration: 0s;
}

.rune-button {
    --background: inherit;
    background: linear-gradient(#fff0, #fff1), linear-gradient(var(--background, #999), var(--background, #999));
    position: relative;
    color: black;
    border: 1px solid #fff5;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 0 2px 0 1px #0003, 0 5px 0 2px #0003, 0 5px 0 2px var(--background, #999);
    transform: translateY(-5px);
    transition: box-shadow, transform, filter, border-color;
    transition-duration: .1s;
}

.rune-button:active, .rune-button:disabled {
    box-shadow: 0 1px 0 1px #0003, 0 2px 0 2px #0003, 0 2px 0 2px var(--background, #999);
    transform: translateY(-2px);
    transition-duration: 0s;
}

.rune-button.selected {
    border-color: #fffa;
    box-shadow: 0 2px 0 1px #0003, 0 5px 4px 2px #fff7, 0 5px 0 2px #0003, 0 5px 0 2px var(--background, #999), inset 0 0 0 1px #fff5;
}

.rune-button.selected:active {
    box-shadow: 0 1px 0 1px #0003, 0 2px 4px 2px #fff7, 0 2px 0 2px #0003, 0 2px 0 2px var(--background, #999), inset 0 0 0 1px #fff5;
}

.pushy-button:disabled, .rune-button:disabled {
    filter: brightness(0.65);
}

.pushy-button[mark]:before {
    position: absolute;
    bottom: 3px;
    right: 5px;
    content: attr(mark);
    opacity: .25;
}


.button-row .pushy-button, .button-row .rune-button {
    width: 100%;
    height: 50px;
}

.button-row .rune-button {
    width: calc(100% - 4px);
    height: 46px;
}


.pushy-button.mini {
    height: 24px;
}
.pushy-button.upgrade {
    height: 64px;
}
.pushy-button.milestone {
    height: 100px;
}

.button-row.rune-inventory {
    width: 285px;
    flex-flow: row wrap;
    align-items: start;
    justify-content: start;
    align-content: start;
}

.button-row.rune-inventory .rune-button {
    width: 136px;
    height: 46px;
}

.button-row.rune-details {
    width: 200px;
}

.button-row.rune-details .desc-info {
    width: calc(100% - 10px);
    padding-inline: 5px;
    text-align: left;
    display: block;
    position: relative;
    white-space: break-spaces;
}
.button-row.rune-details .desc-info li {
    padding-block-start: 2px;
    margin-inline-start: 10px;
}

.charger {
    --delta: 0;
    height: 377px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #999;
    background: 
        linear-gradient(#111, #1110, #111),
        linear-gradient(#777 20%, #0000 20%)   50% calc(1px * var(--delta)) / 10% 5px repeat-y,
        linear-gradient(#777 2%, #0000 2%)     50% calc(1px * var(--delta)) / 20% 50px repeat-y,
        linear-gradient(#777 .2%, #0000 .2%)   50% calc(1px * var(--delta)) / 40% 500px repeat-y,
        linear-gradient(#777 .02%, #0000 .02%) 50% calc(1px * var(--delta)) / 80% 5000px repeat-y,
        linear-gradient(#111, #111);
    margin-top: -3px;
    overflow: hidden;
    position: relative;
    cursor: grab;
}
.charger:active {
    cursor: grabbing;
}
.charger::after {
    position: absolute;
    display: block;
    white-space: pre-wrap;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    content: var(--note);
    opacity: var(--note-alpha);
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
    pointer-events: none;
    z-index: 1000;
}

.charger .charge {
    --x: 0;
    --y: 0;
    position: absolute;
    height: 24px;
    width: calc(25% - 5px);
    top: calc(1px * var(--y) + 5px);
    left: calc(calc(25% - 2px) * var(--x) + 5px);
    z-index: calc(var(--y) + 100);
    cursor: default;
}
.charger .charge[type=big] {
    height: 51px;
    width: calc(50% - 7px);
}
.charger .charge[type=wide] {
    width: calc(100% - 11px);
}


.charger-odometer {
    width: 100%;
    line-height: 14px;
    border: 1px solid #999;
    margin-top: -25px;
    box-sizing: border-box;
    background: #333;
    border-radius: 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    position: sticky;
    top: 25px;
    z-index: 10;
    overflow: hidden;
}

.charger-odometer .wheels {
    display: flex;
    flex-flow: row-reverse;
    margin-right: 3px;
}

.charger-odometer > b {
    margin-top: 1px;
}

.charger-odometer .wheels > div {
    height: 18px;
    line-height: 14px;
    width: 12px;
    border-right: 1px solid #ddd;
    background: #555;
    position: relative;
}

.charger-odometer .wheels > div.label {
    height: 16px;
    padding-top: 2px;
    width: 5px;
    background: #bbb;
    color: black;
}
.charger-odometer .wheels > div:nth-child(-n + 2) {
    background: #ccc;
    color: black;
}
.charger-odometer .wheels > div > div:first-child {
    transform: translateY(calc(-100% * var(--rollover, 0) + 3px)) rotateX(calc(36deg * var(--rollover, 0))) perspective(16px);
    
}
.charger-odometer .wheels > div > div:last-child {
    transform: translateY(calc(-100% * var(--rollover, 0) + 3px)) rotateX(calc(36deg * var(--rollover, 0) - 36deg)) perspective(16px);
}
.charger-odometer .wheels > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    height: 50%;
    display: block;
    background: linear-gradient(#0007, #0002, #0000);
    z-index: 1;
}
.charger-odometer .wheels > div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: -1px;
    height: 50%;
    display: block;
    background: linear-gradient(#0000, #0002, #0007);
    z-index: 1;
}
.charger-odometer .wheels > div.label::before,
.charger-odometer .wheels > div.label::after {
    left: 100%;
}

.auto-list {
    width: 440px;
}

.auto-list > .auto-item {
    width: 100%;
    border: 1px solid #999;
    padding: 4px;
    box-sizing: border-box;
    background: #333;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 140px;
    position: relative;
}

.auto-list > .auto-item > div:first-child,
.auto-list > .auto-item .sub-item > div:first-child {
    display: inline-block;
    margin: 3px 10px 0 5px;
    height: 47px;
}

.auto-list > .auto-item .rate-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auto-list > .auto-item .config-item {
    display: grid;
    grid-template-columns: 1fr 140px;
    gap: 5px;
}

.auto-list > .auto-item .config-item > :first-child {
    width: 100%;
    display: flex;
    text-align: right;
    flex-flow: column;
    justify-content: center;
    margin-top: 5px;
}

.auto-list > .auto-item .config-item > :last-child {
    width: 100%;
}


.auto-list > .auto-item input {
    height: 24px;
    width: 100px;
    background: #000;
    border: 1px solid #999;
    border-radius: 5px;
    color: white;
    margin: 5px 0 0 0;
    padding: 2px 6px;
    box-sizing: border-box;
}

.auto-list > .auto-item input:focus-visible {
    border-color: #aaf;
}

.auto-list > .auto-item input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 18px;
    width: calc(100% + 10px);
    background: #0000;
    padding: 0;
    margin: 1px -5px 0 -5px;
    border: none;
    border-radius: 7px;
    overflow: hidden;
}

.auto-list > .auto-item input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    height: 14px;
    transform: translateY(2px);
    background: 
        radial-gradient(closest-side, #c22 99%, #0000) 0 4px/15px 15px no-repeat,
        linear-gradient(#f33, #f33) 0 0/7px 100% no-repeat,
        linear-gradient(#222, #222);
    box-shadow: inset 0 4px #0007;
    border: 1px solid #999;
    border-radius: 7px;
}

.auto-list > .auto-item input[type=range]::-moz-range-track {
    appearance: none;
    height: 14px;
    transform: translateY(1px);
    background: 
        radial-gradient(closest-side, #c22 99%, #0000) 0 4px/15px 15px no-repeat,
        linear-gradient(#f33, #f33) 0 0/7px 100% no-repeat,
        linear-gradient(#222, #222);
    box-shadow: inset 0 4px #0007;
    border: 1px solid #999;
    border-radius: 7px;
}

.auto-list > .auto-item input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 14px;
    width: 14px;
    transform: translateY(-3px);
    background: linear-gradient(#0000, #0002), linear-gradient(#bbb, #bbb);
    border: 1px solid #fff7;
    box-shadow: 0 2px #888, 0 4px #888, 0 6px #888;
    border-radius: 7px;
}

.auto-list > .auto-item input[type=range]::-moz-range-thumb {
    appearance: none;
    height: 14px;
    width: 14px;
    transform: translateY(-1px);
    background: linear-gradient(#0000, #0002), linear-gradient(#bbb, #bbb);
    border: 1px solid #fff7;
    box-shadow: 0 2px #888, 0 4px #888, 0 6px #888;
    border-radius: 7px;
}

.auto-list > .auto-panel {
    width: 100%;
    border: 1px solid #999;
    padding: 4px;
    margin-top: -25px;
    box-sizing: border-box;
    background: #333;
    border-radius: 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    position: sticky;
    top: 25px;
    z-index: 10;
}

.auto-list > .auto-panel > div {
    flex-grow: 1;
}

.auto-list > .auto-panel > input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 18px;
    width: calc(40px);
    background: #0000;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
}

.auto-list > .auto-panel > input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    height: 14px;
    transform: translateY(2px);
    background: #222;
    box-shadow: inset 0 4px #0007;
    border: 1px solid #999;
    border-radius: 7px;
}
.auto-list > .auto-panel > input[type=range]::-moz-range-track {
    appearance: none;
    height: 14px;
    transform: translateY(1px);
    background: #222;
    box-shadow: inset 0 4px #0007;
    border: 1px solid #999;
    border-radius: 7px;
}

.auto-list > .auto-panel > input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 14px;
    width: 14px;
    transform: translateY(-3px);
    background: linear-gradient(#0000, #0002), linear-gradient(#bbb, #bbb);
    border: 1px solid #fff7;
    box-shadow: 0 2px #888, 0 4px #888, 0 6px #888;
    border-radius: 7px;
}
.auto-list > .auto-panel > input[type=range]::-moz-range-thumb {
    appearance: none;
    height: 14px;
    width: 14px;
    transform: translateY(-1px);
    background: linear-gradient(#0000, #0002), linear-gradient(#bbb, #bbb);
    border: 1px solid #fff7;
    box-shadow: 0 2px #888, 0 4px #888, 0 6px #888;
    border-radius: 7px;
}



.auto-list > .auto-item > .pushy-button {
    width: 140px;
    flex-shrink: 0;
}

.auto-list > .auto-item > .config-button {
    position: absolute;
    bottom: -24px;
    right: -1px;
    width: 36px;
    height: 24px;
    background: linear-gradient(#222, #333);
    border-radius: 0 0 5px 5px;
    border: 1px solid #999;
    display: none;
    transition: box-shadow;
    transition-duration: .1s;
}

.auto-list > .auto-item > .config-button:active {
    box-shadow: inset 0 3px #0007;
    transition-duration: 0s;
}

.auto-list > .auto-item.has-config {
    border-bottom-right-radius: 0;
    margin-bottom: 24px;
}
.auto-list > .auto-item.has-config > .config-button {
    display: unset;
}

.auto-list > .auto-item > .config-box {
    grid-column: 1 / 3;
    margin: 4px -4px -4px -4px;
    padding: 4px;
    border-radius: 0 0 0 4px;
    border-top: 1px solid #999;
    background: #222;
}

.auto-list > .auto-item .sub-item {
    display: grid;
    grid-template-columns: 1fr 140px;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#0007 25%, #000 25% 50%, #0007 50% 75%, #000 75%) top left / 2px 2px repeat;
    z-index: 100;
}

.overlay > div {
    width: 400px;
    height: 70%;
    padding-block: 10vh;
    mask: 
        conic-gradient(#000 25%, #0000 25% 50%, #000 50% 75%, #0000 75%) top left / 2px 2px repeat,
        linear-gradient(#000, #000) center / 100% 90% no-repeat;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
}

.overlay > div > .title {
    font-weight: bold;
    width: 100%;
    height: 26px;
    padding: 6px 12px;
    box-sizing: border-box;
    text-align: left;
    background: linear-gradient(#ddd, #bbb);
    color: black;
    border: 1px solid #777;
    position: relative;
}
.overlay > div > .title > .close {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    background: linear-gradient(#ccc, #ddd) 0px 0px no-repeat, linear-gradient(#999, #999);
    border: 1px solid #777;
    border-radius: 2px;
    transition: background .1s;
}
.overlay > div > .title > .close:active {
    background: linear-gradient(#ccc, #ddd) 0px 3px no-repeat, linear-gradient(#999, #999);
    transition: none;
}
.overlay > div > .title > .close::before {
    content: "✖";
    vertical-align: 0;
    transition: vertical-align .1s;
}
.overlay > div > .title > .close:active::before {
    vertical-align: -3px;
    transition: none;
}
.overlay > div > .tab-list {
    background: #333;
    border: 1px solid #999;
    border-bottom: none;
    box-shadow: inset 0px -1px #999;
    margin-top: -1px;
    width: 100%;
    padding: 4px 6px 1px 6px;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
}
.overlay > div > .tab-list > button {
    color: white;
    background: #444;
    border: 1px solid #999;
    border-bottom: none;
    padding: 4px 12px;
    border-radius: 5px 5px 0 0;
}
.overlay > div > .tab-list > button:not(.active, :last-child) {
    border-right: none;
    border-radius: 5px 0 0 0;
}
.overlay > div > .tab-list > button.active ~ button  {
    border-right: 1px solid #999;
    border-left: none;
    border-radius: 0 5px 0 0;
}
.overlay > div > .tab-list > button.active {
    background: #222;
    padding: 6px 12px 5px 12px;
    margin-block: -2px -1px;
    transform: translateY(-0.2px);
    font-weight: bold;
}
.overlay > div > .content {
    background: #222;
    border: 1px solid #999;
    margin-top: -1px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}
.overlay > div > .content h3 {
    font-size: inherit;
    margin: 12px 0 6px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #999;
}
.overlay > div > .content h3:first-child {
    margin-top: 0px;
}

.overlay > div > .content .action-list {
    text-align: right;
    margin-top: 12px;
}
.overlay > div > .content .action-list + .action-list {
    margin-top: 4px;
}
.overlay > div > .content .action-list button {
    min-width: 100px;
    padding-inline: 8px;
    margin-left: 4px;
}

.overlay > div::-webkit-scrollbar {
    appearance: none;
    width: 0;
    height: 0;
}

.title-box {
    background: #00f;
    height: 100px;
    margin: -5px -12px 7px -12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.title-box h2 {
    font-family: "MS Serif", "Times New Roman", serif;
    font-size: 28px;
    font-style: italic;
    line-height: 120%;
    font-weight: normal;
    margin: 0;
    filter: url("#crispify");
}

.option-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.option-entry + .option-entry {
    margin-top: 6px;
}

.option-entry > div:first-child {
    text-align: right;
}

.option-entry > div:last-child > .pushy-button {
    width: 100%;
    margin-top: 4px;
}
.option-entry > div:last-child > input[type=checkbox] {
    appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 1px 0;
    background: linear-gradient(#666, #777);
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: inset 0 0 #444;
    transition: box-shadow .1s;
    content: "";
}
.option-entry > div:last-child > input[type=checkbox]:active {
    background: linear-gradient(#666, #777);
    box-shadow: inset 0 2px #444;
    transition: none;
}
.option-entry > div:last-child > input[type=checkbox]::after {
    content: "";
    position: relative;
    top: 2.25px;
    left: 4px;
    display: inline-block;
    color: white;
    opacity: 0;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    width: 12px;
    height: 6px;
    transform: translateY(0) rotate(-45deg);
    transition: transform .1s, opacity .1s;
}
.option-entry > div:last-child > input[type=checkbox]:checked::after {
    opacity: 1;
}
.option-entry > div:last-child > input[type=checkbox]:active::after {
    transform: translateY(2px) rotate(-45deg);
    opacity: 0.5;
    transition: none;
}

.dropdown-button {
    --background: inherit;
    position: relative;
    background: linear-gradient(#666, #777);
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: inset 0 0 #444;
    transition: box-shadow .1s, padding .1s;
    padding: 2px 8px;
    height: 24px;
    color: white;
    text-align: left;
}
.dropdown-button:active {
    box-shadow: inset 0 2px #444;
    transition: none;
    padding-block: 4px 0;
}
.dropdown-button::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 8px;
    display: inline-block;
    color: white;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    width: 4px;
    height: 4px;
    transform: translateY(0) rotate(-45deg);
    transition: transform .1s, opacity .1s;
}
.dropdown-button:active::after {
    transform: translateY(2px) rotate(-45deg);
    transition: none;
}

.option-entry > div:last-child > .dropdown-button {
    width: 100%;
    margin-top: 1px;
}

.dropdown-list {
    display: grid;
    position: fixed;
    border: 1px solid #999;
    z-index: 101;
}
.dropdown-list button {
    border: none;
    height: 20px;
    padding-inline: 20px 8px;
    background: white;
    color: black;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.dropdown-list button:hover {
    background: blue;
    color: white;
}
.dropdown-list .active::after {
    content: "";
    position: absolute;
    top: 5.5px;
    left: 5px;
    display: inline-block;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    width: 8px;
    height: 4px;
    transform: translateY(0) rotate(-45deg);
    transition: transform .1s, opacity .1s;
}

.inline-checkbox {
    appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 6px 6px 2px 2px;
    vertical-align: 3px;
    background: linear-gradient(#666, #777);
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: inset 0 0 #444;
    transition: box-shadow .1s;
    content: "";
}
.inline-checkbox:active {
    background: linear-gradient(#666, #777);
    box-shadow: inset 0 2px #444;
    transition: none;
}
.inline-checkbox::after {
    content: "";
    position: relative;
    top: 0px;
    left: 3px;
    display: inline-block;
    color: white;
    opacity: 0;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    width: 10px;
    height: 5px;
    transform: translateY(0) rotate(-45deg);
    transition: transform .1s, opacity .1s;
}
.inline-checkbox:checked::after {
    opacity: 1;
}
.inline-checkbox:active::after {
    transform: translateY(2px) rotate(-45deg);
    opacity: 0.5;
    transition: none;
}

.save-box {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    margin-top: 8px;
    background: linear-gradient(#666, #777);
    border: 1px solid #999;
    color: white;
    font-size: 1px;
    line-height: 1px;
}

.save-box:focus-visible {
    border-color: #aaf;
}

.save-box::selection {
    color: #aaf;
}

.stat-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.stat-entry + .stat-entry {
    margin-top: 4px;
}

.stat-entry > :first-child {
    text-align: right;
}

.scroll-bar {
    display: block;
    position: relative;
    height: 100%;
    width: 18px;
    border-right: 1px solid #999;
    background: linear-gradient(90deg, #333, #222);
    flex-shrink: 0;
    overflow: hidden;
    box-shadow: inset -2px 2px 4px #0007;
}
.scroll-bar.horizontal {
    height: 18px;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #999;
    margin-bottom: 1px;
    background: linear-gradient(#333, #222);
}
.scroll-bar .thumb {
    --size: 1;
    --position: 0;
    --height: calc(100% + 2px);
    position: absolute;
    top: calc(100% * var(--position) / var(--size));
    margin-top: -1px;
    width: 100%;
    height: calc(var(--height) / var(--size));
    border: 1px solid #666;
    box-sizing: border-box;
    background: linear-gradient(90deg, #888, #999 10%, #aaa 90%, #999);
    box-shadow: -2px 2px 4px #0007;
    transform: translateY(0px);
}
.scroll-bar .thumb:active {
    background: linear-gradient(90deg, #777, #888 10%, #999 90%, #888);
    transform: translateY(1px);
}
.scroll-bar.horizontal .thumb {
    top: 1px;
    left: calc(100% * var(--position) / var(--size));
    width: calc(var(--height) / var(--size));
    height: 100%;
    background: linear-gradient(#888, #999 15%, #aaa 85%, #999);
}
.scroll-bar.horizontal .thumb:active {
    background: linear-gradient(#777, #888 15%, #999 85%, #888);
}
.scroll-bar.disabled .thumb {
    display: none;
}
#container + .scroll-bar.disabled{
    display: none;
}

.body-scroll-bar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: none;
    border-left: 1px solid #999;
    z-index: 10;
    background: linear-gradient(90deg, #111, #000);
}

.body-scroll-bar.disabled {
    display: none;
}
.body-scroll-bar:not(.disabled) + #tabs {
    margin-right: 19px;
}

.filter-effects {
    position: absolute;
    visibility: hidden;
    z-index: -100;
}